<h1>User info</h1>
<h2>Name</h2>
 <%= f.label :name %><br />
 <%= text_field :name, autofocus: true %>

 <h2>Image</h2>
 <%= image_tag('no_image.jpg') %>

 <h2>Introduction</h2>
 <%= capsion %>

 <%= submit 'Update User'%>
 
 
 <h1>New book</h1>

<%= form_with model:@book, local:true do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>

<h4>opinion</h4>
<%= f.text_area :body %>

<%= f.submit 'create book'%>
<% end %>