<h1>User info</h1>
<h2>Name</h2>
 <%= f.label :name %><br />
 <%= text_field :name, autofocus: true %>

 <h2>Image</h2>
 <%= image_tag('no_image.jpg') %>

 <h2>Introduction</h2>
 <%= capsion %>

 <%= submit 'Update User'%>