<%= flash[:notice] %>

<%= render 'books/list', book: @newbook, user: @book.user %>

<h1>Book detail</h1>

<p><%= @book.title %></p>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book) %>

<%= link_to "Destroy", book_path(@book), method: :delete %>