<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <h1>Bookers</h1>
    <li>
      <%= link_to "Home",  user_path(current_user.id) %>
    </li>
    <li>
      <%= link_to "Users", users_path %>
    </li>
    <li>
      <%= link_to "books", books_path %>
    </li>
    <li>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    </li>
    <% else %>
    <h1>Bookers</h1>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "about", home_about_path %>
    </li>
    <li>
      <%= link_to "sign up", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "login", new_user_session_path %>
    </li>
    <% end %>
    <%= yield %>
  </body>
</html>
